<!DOCTYPE html>
<html lang="en">
<%include ../partials/head%>
    <link rel="stylesheet" href="stylesheets/seriestiempo.css">

    <body>
        <!-- Start Header -->
        <header id="mu-header" class="" role="banner">
            <div class="container">
                <nav class="navbar navbar-default mu-navbar">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <!-- Text Logo -->
                            <a class="navbar-brand" href="#">Series de Tiempo</a>


                            <!-- Image Logo  -->
                            <!-- <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a> -->
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav mu-menu navbar-right">
                                <li>
                                    <a href="/">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>Home</a>
                                </li>
                                <li>
                                    <a href="#mu-about">
                                        <i class="fa fa-bar-chart-o"></i>Sesiones</a>
                                </li>
                                <li>
                                    <a href="#mu-service">
                                        <i class="fa fa-book"></i>Prácticas</a>
                                </li>
                                <li>
                                    <a href="#mu-footer">
                                        <i class="fa fa-globe"></i>Social</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </header>
        <!-- End Header -->
        <!-- Start main content -->

        <main role="main">

            <!-- Start About -->
            <section id="mu-about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-about-area">

                                <div class="mu-about-header">
                                        <% sesiones.forEach(function(inicio){ %>
                                            <h2 class="mu-heading-title">
                                                <i class="fa fa-bar-chart-o"></i>
                                                <span><%= inicio.titulo%></span>
                                            </h2>
                                            <span class="mu-header-dot"></span>
                                            <p><%= inicio.bienvenida%></p>
                                            <% }); %>
                                </div>

                                <!-- Start About Us Content -->
                                <div class="mu-about-content">
                                    <div class="row">

                                        <!-- About Us Single Content -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="mu-about-content-single">
                                                    <% sesionesleft.forEach(function(sesion){ %>
                                                        <!--Start session single page-->
                                                        <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#<%= sesion.sesion%>">
                                                            <span class="titulo">
                                                                <i class="icon-pin"></i>
                                                                <%= sesion.titulo%>
                                                                    <i style="margin-left: 2px" class="icon-arrow-down" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                        <div id=<%= sesion.sesion%> class="collapse">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <p class="text-justify">
                                                                        <%= sesion.parrafo%>
                                                                            <span class="badge  badge-success">Vistantes 234</span>
                                                                    </p>
                                                                    <hr>
                                                                    <span>
                                                                        <a href=<%= sesion.enlace%> target="_blank">
                                                                            <i class="fa fa-book"></i>Materiales y notas</a>
                                                                    </span>
    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--End session single page-->
                                                        <br>
                                                    <% }); %>

                                            </div>
                                        </div>
                                        <!-- / About Us Single Content -->

                                        <!-- About Us Single Content -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="mu-about-content-single">
                                                    <% sesionesright.forEach(function(sesion){ %>
                                                        <!--Start session single page-->
                                                        <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#<%= sesion.sesion%>">
                                                            <span class="titulo">
                                                                <i class="icon-pin"></i>
                                                                <%= sesion.titulo%>
                                                                    <i style="margin-left: 2px" class="icon-arrow-down" aria-hidden="true"></i>
                                                            </span>
                                                        </button>
                                                        <div id=<%= sesion.sesion%> class="collapse">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <p class="text-justify">
                                                                        <%= sesion.parrafo%>
                                                                            <span class="badge  badge-success">Vistantes 234</span>
                                                                    </p>
                                                                    <hr>
                                                                    <span>
                                                                        <a href=<%= sesion.enlace%> target="_blank">
                                                                            <i class="fa fa-book"></i>Materiales y notas</a>
                                                                    </span>
    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--End session single page-->
                                                        <br>
                                                        <% }); %>
                                            </div>
                                        </div>
                                        <!-- / About Us Single Content -->

                                    </div>
                                </div>
                                <!-- End About Us Content -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About -->

            <!-- Start Service -->
            <section id="mu-service">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-service-area">

                                <div class="mu-service-header">
                                        <% practica.forEach(function(inicio){ %>
                                            <h2 class="mu-heading-title">
                                                <i class="fa fa-bar-chart-o"></i>
                                                <span><%= inicio.titulo%></span>
                                            </h2>
                                            <span class="mu-header-dot"></span>
                                            <p><%= inicio.bienvenida%></p>
                                            <% }); %>
                                </div>

                                <!-- Start Service Content -->
                                <div class="mu-service-content">
                                    <div class="row">

                                            <% practicas.forEach(function(practica){ %>
                                                <!-- About Us Single Content -->
                                            <div class="col-md-3 col-sm-6">
                                                    <div class="mu-about-content-single">
                                                        <span class="mu-about-icon-box">
                                                            <i class="icon-book-open"></i>
                                                        </span>
                                                        <h4>
                                                            <a id="courses"> <%= practica.titulo%></a>
                                                        </h4>
                                                        <b>Temas:</b>
                                                        <%= practica.temas%>
                                                        <span class="badge text-center">Descargado 154 veces</span>
                                                        <br>
                                                        <br>
                                                        <span>
                                                            <a href=<%= practica.enlace%> target="_blank">
                                                                <i class="fa fa-download"></i>Prácticas pasadas</a>
                                                        </span>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <!-- / About Us Single Content -->
                                              <% }); %>
                                             
                                              <!--EXÄMENES-->
                                            <% examenes.forEach(function(examen){ %>
                                                <!-- About Us Single Content -->
                                            <div class="col-md-3 col-sm-6">
                                                    <div class="mu-about-content-single">
                                                        <span class="mu-about-icon-box">
                                                            <i class="icon-book-open"></i>
                                                        </span>
                                                        <h4>
                                                            <a id="courses"> <%= examen.titulo%></a>
                                                        </h4>
                                                        <b>Temas:</b>
                                                        <%= examen.temas%>
                                                        <span class="badge text-center">Descargado 154 veces</span>
                                                        <br>
                                                        <br>
                                                        <span>
                                                            <a href=<%= examen.enlace%> target="_blank">
                                                                <i class="fa fa-download"></i>Prácticas pasadas</a>
                                                        </span>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <!-- / About Us Single Content -->
                                              <% }); %>

                                    </div>
                                </div>
                                <!-- End Service Content -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Service -->
        </main>

        <!-- End main content -->

        <%include ../partials/footer%>
            <%include ../partials/script%>
    </body>

</html>